<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>キッズ業務管理システム</title>

    <!-- Bootstrap -->
    <link href="common/css/bootstrap.min.css" rel="stylesheet">
    <link href="common/css/page.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>
    <!-- Header -->
    <header>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <h1 class="fl-left">キッズコーポレーション業務管理システム</h1>
            <h1 class="fl-right">メニュー</h1>
          </div>
          <div class="col-md-6">
            <div class="fl-right mar-left40">
              <input type="button" class="btn btn-sm btn-info  btn-mar-right" name="button2" value="メニューへ" onclick="location.href='menu.html'"/><input type="button" class="btn btn-sm btn-info" name="button" value="ログアウト" onclick="location.href='login.html'"/>
            </div>
            <div class="fl-right mar-top5">ようこそ、山田花子さん（<a href="change_pass.html" class="text-orange">パスワード変更</a>）</div>
          </div>
        </div>
      </div>
    </header>
    <!-- End Header -->
    <!-- content menu -->
    <section id="page">
      <div class="container">
        <div class="row content content--menu">
          <div class="col-md-4">
            <h2>個人情報管理業務</h2>
            <ul>
              <li><a href="student_regist.html"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>個人情報の新規登録</a></li>
              <li><a href="student_import.html"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>個人情報のCSV一括登録</a></li>
              <li><a href="student_search.html"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>個人情報の検索・一覧・修正・削除・CSV出力</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h2>プレゼント発送業務</h2>
            <ul>
              <li><a href=""><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>対象者の抽出・CSV出力</a></li>
            </ul>
            <h2>資料発送業務</h2>
            <ul>
              <li><a href=""><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>対象者の抽出・表示・CSV出力</a></li>
            </ul>
            <h2>資料請求番号通知業務</h2>
            <ul>
              <li><a href=""><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>資料請求番号等のCSV出力</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h2>マスタ管理</h2>
            <ul>
              <li><a href="customer_search.html"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>顧客マスタ管理</a></li>
              <li><a href="enterprise_search.html"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>法人マスタ管理</a></li>
              <li><a href="baitai_search.html"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>媒体マスタ管理</a></li>
              <li><a href="pamphlet_search.html"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>資料請求番号マスタ管理</a></li>
              <li><a href="g-pamphlet_search.html"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>一括資料請求番号マスタ管理</a></li>
              <li><a href="bunya_search.html"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>分野番号マスタ管理</a></li>
              <li><a href="highschool_search.html"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>高等学校マスタ管理</a></li>
              <li><a href="university_search.html"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>大学マスタ管理</a></li>
              <li><a href="present_list.html"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>プレゼントマスタ管理</a></li>
              <li><a href="campaign_list.html"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>キャンペーンマスタ管理</a></li>
              <li><a href="user_list.html"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>ユーザー管理</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- End content menu -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="common/js/bootstrap.min.js"></script>
  </body>
</html>